body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: purple;
}


/* inicio */





/* FOOTER */
.navbar {
    padding: 0;
}

.container-fluid {
    background: beige;
}

.logo {
    width: 150px;
    height: auto;
    padding: 10px 0px;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-nav li {
    font-size: 22px;
    padding: 0px 20px;
}

.navbar-nav li .nav-link {
    color: purple;
}



.seccion-1{
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.titulo-text{
    font-size: 35px;
    color: rgb(29, 204, 20);
    text-shadow: 2px 2px 4px black;
    margin-bottom: 20px;
    
}

.parrafo-text{
    font-size: 22px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}

.caja-img{
    display: flex;
    justify-content: center;

}

.caja-img img{
    width: 35%;
    margin-top: 100px;
}







/* Footer */

.footerGral {
    background-color: beige;
    width: 100%;
    margin-top: 100px;
}

.footer2 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px;
}

h4 {
    color: rgb(29, 204, 20);
    justify-content: center;
    display: flex;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 40px;
}



.info-footer {
    padding: 20px;
}

.menu1 li {
    list-style: none;
    padding: 5px;
}

.menu1 li a {
    padding: 5px;
    color: purple;
}

.menu1 li a:hover {
    color: green;
}



.nav-footer {
    padding: 20px;
}



.menu2 li {
    list-style: none;
    padding: 5px;
}

.menu2 li a {
    padding: 5px;
    color: purple;
}

.menu2 li a:hover {
    color: green;
}



.logos-footer {
    padding: 20px;
}

.red-social {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: purple;
    margin-right: 10px;
    background-color: green;
    text-align: center;

}

.soporte-footer{
    padding: 20px;
}

.caja-logo-footer img{
    width: 150px;
    height: auto;
    margin-top: 10px;
}


@media (max-width: 420px){

    .titulo-text{
        text-align: center;   
    }

    .parrafo-text{
       padding: 15px;
    }

    .caja-img img{
        width: 100%;
        margin-top: 50px;
    }

    .footer2{
        grid-template-columns: 1fr;
        justify-items: center;
    }

}