body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../IMAGENES/IMG-1004\ \(1\).jpg);
    background-size: cover;
}


/* inicio */





/* navbar */
.navbar {
    padding: 0;
}

.container-fluid {
    background: beige;
}

.logo {
    width: 150px;
    height: auto;
    padding: 10px 0px;
}

.navbar-collapse {
    justify-content: space-evenly;
}

.navbar-nav li {
    font-size: 22px;
    padding: 0px 40px;
}

.navbar-nav li .nav-link {
    color: purple;
    font-family: serif;
}




.seccion-1{
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    
}

.titulo-text{
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 7px black;
    margin-bottom: 20px;
    
}

.subtitulo-text{
    font-size: 27px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 7px black;
}

.parrafo-text{
    font-size: 20px;
    padding: 5px 0px;
    font-family: fangsong;
    color: white;
    text-shadow: 2px 2px 10px black;

    

}

.caja-img{
    display: flex;
    justify-content: center;

}

.caja-img img{
    width: 600px;
    margin-top: 100px;
    padding: 10px;
    border: 3px solid purple;
    background: beige;
}




/* Footer */

.footerGral {
    background-color: beige;
    width: 100%;
    margin-top: 100px;
}

.footer2 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px;
    
}

h4 {
    color: purple;
    justify-content: center;
    display: flex;
    text-shadow: 2px 2px 10px purple;
    margin-bottom: 40px;
}



.info-footer {
    padding: 20px;
}

.menu1 li {
    list-style: none;
    padding: 5px;
    margin-left: -30px;
    text-align: center;
}

.menu1 li a {
    padding: 5px;
    color: purple;
    text-decoration: none;
    font-family: serif;   
}

.menu1 li a:hover {
    color: green;
}



.nav-footer {
    padding: 20px;
}



.menu2 li {
    list-style: none;
    padding: 5px;
    margin-left: -30px;
    text-align: center;
}

.menu2 li a {
    padding: 5px;
    color: purple;
    text-decoration: none;
    font-family: serif;   
}

.menu2 li a:hover {
    color: green;
}



.logos-footer {
    padding: 20px;
}

.red-social {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color:white;
    margin-right: 10px;
    background-color: purple;
    text-align: center;

}

.soporte-footer{
    padding: 20px;
    
}



.caja-logo-footer img{
    width: 150px;
    height: auto;
    margin-top: 10px;
}




@media (max-width: 426px){

    .nav-link{
        font-size: 20px;
    }

    .titulo-text{
        text-align: center;
        font-size: 35px;   

    }

    .subtitulo-text{
        text-align: center;
    }

    .parrafo-text{
        padding: 5px 30px;
       font-size: 18px;
       text-align: center;
    }

    

    .caja-img img{
        width: 105%;
        margin-top: 50px;
    }

    .footer2{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 10px;
    }

    .caja-logo-footer{
        flex-direction: column;
        display: flex;
    }

}